{%extends 'app_general/components/base.html'%}

{% block site_title %}About | {% endblock %}

{%block content%}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">About ArtGameStore</h2>
        <h4>Established 2023</h4>
        <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptate vero
            perferendis accusamus maiores
            sapiente fugiat et. Assumenda
            cumque cupiditate dicta, possimus
            aliquam eum obcaecati deserunt beatae
            reprehenderit tempore laborum officiis.</p>
        <h4>We choose only best game</h4>
        <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptate vero
            perferendis accusamus maiores
            sapiente fugiat et. Assumenda
            cumque cupiditate dicta, possimus
            aliquam eum obcaecati deserunt beatae
            reprehenderit tempore laborum officiis.</p>
        <h4>Story of our path</h4>
        <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptate vero
            perferendis accusamus maiores
            sapiente fugiat et. Assumenda
            cumque cupiditate dicta, possimus
            aliquam eum obcaecati deserunt beatae
            reprehenderit tempore laborum officiis.</p>
        
    </div>

</section>
{% endblock %}