{%extends 'app_general/components/base.html'%}
{% load static %}


{%block content%}
<section class="home-landing-section">
    <h1 class="homelanding-text">ArtGameStore</h1>
    <h5 class="homelanding-text">"BUY PLAY FUN"</h5>
    <h6 class="homelanding-text">Discover a World of Gaming Excitement!</h6>
    <p>
        <a class="button" href="{% url 'games' %}">All Games</a>
        <a class="button button-primary" href="{% url 'register' %}">Register</a>
    </p>
</section>

<section class="content-section">
    <div class="content-container">
        <h4 class="content-title text-center">Why ArtGameStore ❓❓❓</h4>
        <div class="grid grid-3" >
            <div>
                <img class="image-block img-homepage" src="{% static 'app_general/home3.png' %}" alt="">
                <p class="text-center">Because game is not just a game.</p>
            </div>
            <div>
                <img class="image-block img-homepage" src="{% static 'app_general/home2.jfif' %}" alt="">
                <p class="text-center">Because we want you to have fun.</p>
            </div>
            <div>
                <img class="image-block img-homepage" src="{% static 'app_general/home1.jpg' %}" alt="">
                <p class="text-center">Because your fun is our happiness.</p>
            </div>
        </div>
        <p class="text-center">
            <a class="button" href="{% url 'about' %}">About ArtGameStore</a>
        </p>
    </div>
</section>
{% endblock %}