{%extends 'app_general/components/base.html'%}

{% block site_title %} Thank you for register | {% endblock %}

{%block content%}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h1 class="content-title text-center" style="margin-top: 60px;">Thank you for register
</h1>
        <h3 class="text-center">
            We're thrilled to have you join our gaming community. Your registration is complete, and you're now part of
            an exciting world of gaming enthusiasts. Should you have any questions or need assistance, feel free to reach out to our support team. We're here to
            ensure that you have the best possible experience with us.

            Happy gaming!
        </h3>
        <p class="text-center"><a class="button button-primary " href="{% url 'homepage'%}">Back to Home</a>
        </p>
    </div>

</section>
{% endblock %}