{%extends 'app_general/components/base.html'%}
{% load static %}
{% block site_title %} {{game.title}} | {% endblock %}

{%block content%}
<section class="content-section content-section-single">
    <div class="content-container">
        {% if game is not None%}
        <div class="grid grid-2">

            <img class="image-block" src="{% static game.image_relative_url %}" alt="">
            <div>
                <h3>{{game.title}}</h3>
            <p>Price : {{ game.price|floatformat:'g' }} USD</p>
            <p>Release Year : {{game.initial_release|date:'Y'}}</p>

            <p>Description " {{ game.description }}</p>
            <p class="text-center">
                <a class="button button-primary" href="{% url 'register' %}">Register</a>
            </p>
            </div>
            
        </div>

        {% else %}
        <p>This game is not found</p>

        {% endif %}
    </div>
</section>



{% endblock %}