{%extends 'app_general/components/base.html'%}
{% load static %}
{% block site_title %} {{game.title}} | {% endblock %}

{%block content%}
<section class="content-section content-section-single">
    <div class="content-container">
        {% if game is not None%}
        <div class="grid grid-2">

            <img class="image-block" src="{% static game.image_relative_url %}" alt="">
            <div>
                <h1 class="text-center game-title">{{game.title}}</h1>
                <h3 class="text-center">Genre : {{game.genre}} </h3>
                <h3 class="text-center">Price : {{ game.price|floatformat:'g' }} USD</h3>
                <h3 class="text-center">Release Year : {{game.initial_release|date:'Y'}}</h3>

                <h3 class="text-center">Synopsis : {{ game.description }}</h3>
                <h3 class="text-center">
                    <a class="button button-primary" href="{% url 'register' %}">Register</a>
                </h3>
            </div>

        </div>

        {% else %}
        <p>This game is not found</p>

        {% endif %}
    </div>
</section>



{% endblock %}