{%extends 'app_general/components/base.html'%}
{% load static %}
{% block site_title %}Games | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">ALL GAMES</h2>
        {% if games.count > 0 %}
        <div class="grid grid-3">
            {% for game in games %}
            <div href="{% url 'game' game.id %}">
                <a href="{% url 'game' game.id %}">
                    <img class="image-block" src="{% static game.image_relative_url %}" alt="">
                </a>
                <h5 class="game-title">
                    <a href="{% url 'game' game.id %}">{{ game.title }}</a>
                </h5>
                <p>Price: {{ game.price|floatformat:'g' }} USD</p>
                <p>Release Year: {{ game.initial_release|date:'Y' }}</p>
                <p>Genre : {{game.genre}}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>There is no data right now.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
