{%extends 'app_general/components/base.html'%}

{% block site_title %}Sign-in | {% endblock %}

{%block content%}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">Sign-in</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button class="button button-primary" type="submit">Login</button>
            </p>
        </form>
    </div>

</section>
{% endblock %}