{%extends 'app_general/components/base.html'%}

{% block site_title %}Dashboard | {% endblock %}

{%block content%}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">{{ user.username }}'s Dashboard</h3>
        <p>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'profile' %}">User Info</a>
        </p>
        <h5>Dashboard</h5>
    </div>

</section>
{% endblock %}